<div class="ui container">
  <h1>PADLET</h1>
  <hr class="orange">

  <h2 *ngIf="isUpdatingPadlet == false" >Padlet hinzufügen</h2>
  <h2 *ngIf="isUpdatingPadlet ==true" >Padlet bearbeiten</h2><br>
<form class="ui large form" [formGroup]="padletForm"
      (ngSubmit)="submitForm()">

  <input type="hidden" formControlName="id">
  <div class="field">
    <label>Titel des Padlets:</label>
    <input formControlName="name">
    <div *ngIf="errors['name']" class="ui negative message"> {{
      errors['name'] }} </div>
  </div>

  <br>
  <div class="field">
    <label *ngIf="authService.isLoggedIn()">Art der Veröffentlichung:</label>
<div>
    <input type="radio" id="radio_is_public" name="is_public" [checked]="padlet.is_public === 1 ? true: false" (click)="clickRadio(1)">
    <label for="radio_is_public"> öffentlich</label>
</div>
    <div>
    <input *ngIf="authService.isLoggedIn()" type="radio" id="radio_is_not_public" name="is_public" [checked]="padlet.is_public === 0 ? true: false" (click)="clickRadio(0)">
    <label *ngIf="authService.isLoggedIn()" for="radio_is_not_public"> privat</label>
      </div>
  </div>
  <button type="submit" class="ui tiny labeled icon button"
          [disabled]="padletForm.invalid"><i class="save icon"></i>Speichern</button>

</form>
</div>
